<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <tbody>
    <% @posts.each do |post| %>
    <div>
        <th><%= post.title %></th>
        <tr><td><%= image_tag(post.image.url, style:'width:50%') %></td></tr>
        <tr><td><%= post.body %></td></tr>
        <tr>
          <td>
            <p>
              <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
              <% if pre_like %>
                <%= button_to 'Unlike', post_like_path(post, pre_like), method: :delete %>
              <% else %>
                <%= button_to 'Like', post_likes_path(post), method: :post %>
              <% end %>

              <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
            </td>
          <td><%= link_to 'Edit', edit_post_path(post) %> |
              <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
